.cta-page .parallax-container {
	 height: 600px;
}

.cta-page .company-name {
	font-size: 65px;
	font-weight: bold;
	margin-top: 150px;
	text-shadow: #555555 5px 5px;
	color: limegreen;
	cursor: default;
}

.cta-page .company-description {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	cursor: default;
}
.cta-page .parallax {
	opacity: 0.7;
}

.cta-page .cta-buttons {
	margin-top: 50px;
}

.cta-page .learn-more {
	font-size: 35px;
	font-weight: bold;
	margin-top: 250px;
	text-shadow: #555555 3px 3px;
	color: limegreen;
	cursor: default;
}

.cta-page .md-button.md-primary.md-raised {
	background-color: limegreen;
	font-size: 25px;
	padding: 7px 35px;
	width: 355px;
	margin: 0 25px;
}

.cta-page .mission {
	padding: 20px 100px;
	font-size: 17px;
}

.cta-page .h4 {
	font-size: 32px;
    font-weight: bold;
    color: limegreen;
}