<div class="cta-page">
	<div class="parallax-container">
		<div class="parallax"><img src="http://placehold.it/2000x600"></div>
	</div>
	<div class="section white" layout="row">
		<div class="registration">
			<div class="md-inline-form" ng-cloak>
				<md-content layout-gt-sm="column" layout-padding>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Имя пользователя</label>
						<input ng-model="vm.data.username">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Пароль</label>
						<input type="password" ng-model="vm.data.password">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Подтверждение пароля</label>
						<input type="password" ng-model="vm.data.passwordConfirmation">
					</md-input-container>
				</md-content>
			</div>
		</div>
	</div>
	<div class="parallax-container">
		<div class="parallax"><img src="http://placehold.it/2000x600"></div>
	</div>
</div>