<div class="policy-list-page">
    <div ng-if="!isLoaded" layout="row" layout-align="center">
        <md-progress-circular class="progress-container" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="policy-list-body" ng-if="isLoaded">
        <div class="header">
            <div class="policy-list-item policy-list-id">Id</div><!--
            --><div class="policy-list-item policy-list-serial">Серия</div><!--
            --><div class="policy-list-item policy-list-number">Номер</div><!--
            --><div class="policy-list-item policy-list-status">Статус</div><!--
            --><div class="policy-list-item policy-list-user">Пользователь</div><!--
            --><div class="policy-list-item policy-list-premium">Страховая премия</div><!--
            --><div class="policy-list-item policy-list-sum">Страховая сумма</div><!--
            --><div class="policy-list-item policy-list-createdDate">Создан</div><!--
            --><div class="policy-list-item policy-list-startDate">Начало действия</div><!--
            --><div class="policy-list-item policy-list-expirationDate">Конец действия</div>
        </div>
        <div class="body">
            <div class="item" ng-repeat="policy in policyList.Data" ng-click="open(policy.Id)">
                <div class="policy-list-item policy-list-id" ng-bind="policy.Id"></div><!--
                --><div class="policy-list-item policy-list-serial" ng-bind="policy.Serial"></div><!--
                --><div class="policy-list-item policy-list-number" ng-bind="policy.Number"></div><!--
                --><div class="policy-list-item policy-list-status" ng-bind="policy.Status"></div><!--
                --><div class="policy-list-item policy-list-user" ng-bind="policy.UserId"></div><!--
                --><div class="policy-list-item policy-list-premium" ng-bind="policy.InsurancePremium + 'р.'"></div><!--
                --><div class="policy-list-item policy-list-sum" ng-bind="policy.InsuranceSum + 'р.'"></div><!--
                --><div class="policy-list-item policy-list-createdDate" ng-bind="policy.CreatedDate"></div><!--
                --><div class="policy-list-item policy-list-startDate" ng-bind="policy.StartDate"></div><!--
                --><div class="policy-list-item policy-list-expirationDate" ng-bind="policy.ExpirationDate"></div>
            </div>
        </div>
    </div>
    <div class="policy-list-pagination">
        <div>Страница: {{page}}</div>
        <md-slider flex md-discrete ng-model="page" step="1" min="1" max="{{policyList.Pages}}" aria-label="rating" class="md-primary"></md-slider>
    </div>
    <div class="policy-list-pagesize">
        <div>Элементов на странице: {{pageSize}}</div>
        <md-slider flex md-discrete ng-model="pageSize" step="1" min="1" max="100" aria-label="rating" class="md-primary"></md-slider>
    </div>
</div>