.md-datepicker-calendar *, .md-datepicker-calendar *:before, .md-datepicker-calendar *:after {
  box-sizing: content-box;
}

.policy-create-page {
    padding: 30px 50px;
}

.policy-create-page .progress-container{
    zoom: 8;
}

.policy-create-page .action-buttons {
    float: right;
}

.policy-create-page  .policy-info {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    width: 100%;
}

.policy-create-page .policy-serial-number {
   margin-right: 800px;
 }

.policy-create-page .item {
   margin: 25px 0;
   position: relative;
 }

.policy-create-page .key {
    font-weight: bold;
    width: 200px;
    display: inline-block;
}

.policy-create-page .policy-serial-number .serial-not-generated {
    color: red;
}

.policy-create-page .value-date {
    display: inline-block;
    width: 225px;
    position: absolute;
    top: -12px;
}

.policy-create-page .input-value {
    display: inline-block;
    width: 125px;
    position: absolute;
    top: -30px;
}

.policy-create-page .after-input-value {
    margin-left: 125px;
}